apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: 100k-kafka-loopback
  namespace: {{ dojot_namespace }}
spec:
  serviceName: "100k-kafka-loopback"
  selector:
    matchLabels:
      app: 100k-kafka-loopback
  replicas: {{ dojot_vernemq_mqtt_replicas_to_scale }}
  template:
    metadata:
      labels:
        app: 100k-kafka-loopback
    spec:
      containers:
      - name: 100k-kafka-loopback
        image: dojot/100k-kafka-loopback:{{ dojot_v2k_version}}
